@model answer 

<h1>QUESTION :</h1>
<h1 style="color:red">@Model.question</h1>

<form asp-controller="answer" asp-action="create">
	<div class="form-group">
                <label asp-for="@Model.description" class="control-label">ASK</label>
                <input asp-for="@Model.description" class="form-control" placeholder="ANSWER" />
                <span asp-validation-for="@Model.description" class="text-danger"></span>
     </div>
     <input type="hidden" asp-for="@Model.question_id" />
     
           
       <div class="form-group">
                <input type="submit" value="SEND" class="btn btn-primary" />
       </div>
</form>